<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Classes">
	<update id="updateDays">
		update lms_class set days=#{days}
		where classID=#{classID}
	</update>
	
	<select id="getClass" resultType="classes">
		select * from lms_class where id=#{id}
	</select>
</mapper>