<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Playlist">
	<insert id="addPlaylist">
		insert into lms_playlist (playlistName, creatorEmail, seq)
		values (#{playlistName}, #{creatorEmail}, #{seq})
	</insert>
	
	<delete id="deletePlaylist">
		delete from lms_playlist where playlistID=#{playlistID}
	</delete>
	
	<update id="changeSeq">
		update lms_playlist
		set seq=#{seq} where playlistID=#{playlistID}
	</update>
	
	<update id="updatePlaylistName">
		update lms_playlist
		set playlistName=#{playlistName} where playlistID=#{playlistID}
	</update>
	
	<update id="updateDescription">
		update lms_playlist
		set description=#{description} where playlistID=#{playlistID}
	</update>
	
	<select id="getPlaylist" resultType="playlist"> <!-- playlist info 가져올때 사용 -->
		select * from lms_playlist where playlistID=#{playlistID}
	</select>
	
	<select id="getAllPlaylist" resultType="playlist"> <!-- 이부분 exposed만 가져오도록 바꿔야함...!!! -->
		select * from lms_playlist order by seq desc
	</select>
	
	<select id="getAllMyPlaylist" resultType="playlist"> <!-- 내가만든것들만 볼 수 있도록 -->
		select * from lms_playlist 
		where creatorEmail=#{creatorEmail}
		order by seq desc
	</select>
	
	<select id="getPlaylistCount" resultType="int">
		select count(*) from lms_playlist
	</select>
	
	<update id="updateCount"> <!-- totalVideo 업데이트 -->
		update lms_playlist
		set totalVideo = ( select count(*)
			from Video
			where playlistID=#{playlistID} )
		where playlistID=#{playlistID}
	</update>
	
	<update id="updateTotalVideoLength">
		update lms_playlist
		set totalVideoLength = ( select sum(duration)
				from Video
				where playlistID=#{playlistID} )
		where playlistID=#{playlistID}
	</update>
	
</mapper>