<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Playlist">
	<insert id="addPlaylist">
		insert into lms_playlist (playlistName, creatorEmail, seq)
		values
		(#{playlistName}, #{creatorEmail}, #{seq})
	</insert>
	
	<delete id="deletePlaylist">
		delete from lms_playlist where playlistID=#{playlistID}
	</delete>
	
	<update id="changeSeq">
		update lms_playlist
		set seq=#{seq} where playlistID=#{playlistID}
	</update>
	
	<select id="getPlaylist" resultType="playlist">
		select * from lms_playlist where playlistID=#{playlistID}
	</select>
	
	<select id="getAllPlaylist" resultType="playlist">
		select * from lms_playlist order by seq desc
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from lms_playlist
	</select>
	
	<update id="updateCount">
		update lms_playlist
		set totalVideo=#{totalVideo} where playlistID=#{playlistID}
	</update>
</mapper>