<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Stu_Video">
	
	<select id="getVideoList" resultType="VideoVO">
		select * from Video left join videocheck on Video.id = videocheck.videoID
		where Video.playlistID=#{playlistID} 
		order by seq ASC
	</select>

</mapper>