<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Video">

	<insert id="insertVideo">
		insert into Video(youtubeID, start_s, end_s, playlistID, title, newTitle, seq, tag, maxLength, duration)
		values
		(#{youtubeID}, #{start_s}, #{end_s}, #{playlistID}, #{title}, #{newTitle}, #{seq}, #{tag}, #{maxLength}, #{duration})
	</insert>
	
	<update id="updateVideo">
		update Video
		set newTitle=#{newTitle}, start_s=#{start_s}, end_s=#{end_s}, maxLength=#{maxLength}, duration=#{duration}, tag=#{tag}
		where id=#{id}
	</update>
	
	<update id="changeSeq">
		update Video
		set seq=#{seq} where id=#{id}
	</update>
	
	<delete id="deleteVideo">
		delete from Video where id=#{id}
	</delete>
	
	<select id="getVideo" resultType="video">
		select * from Video
		where id=#{id}
	</select>
	
	<select id="getVideoList" resultType="video">
		select * from Video where
		playlistID=#{playlistID} order by seq
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from Video where playlistID=#{playlistID}
	</select>

</mapper>